.gallery-header
    background-color: $greenish
    color: #fff
    margin: 0
    padding: 1em


.gallery
    background-color: $grey
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    &__item
        display: block
        flex-grow: 1
        max-width: 50%
        align-self: center


@supports (grid-area: auto)
    .gallery
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr))

        &__item
            max-width: none
            width: 100%
            height: auto

    @media screen and (min-width: 1000px)
        .gallery
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
            &__item--double
                grid-column: span 2
                grid-row: span 2
