.location-header
    @extend .gallery-header

.iframe
    border: 0
    display: block
    height: 75vh
    width: 100%

.contact-header
    @extend .facilities-header

.contact
    background-color: $light-grey
    text-align: center



//

.info
    display: block
    padding: 1em 0

.form
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    > *
        width: 80%

    &__input
        border: 2px solid $greenish
        padding: .5em 1em
        color: $grey
        transition: all .3s linear
        display: block
        &::before



    &__label
        padding: .5em 0 .25em 0

    &__submit
        border: none
        margin-top: 1em
        padding: .5em 1em
        background-color: $greenish

@media screen and (min-width: 798px)
    .form > *
        width: 50%
