.location
    display: flex
    flex-wrap: wrap

.location-header
    @extend .gallery-header
    flex: 0 1 100%

.map-display
    min-height: 50vh
    width: 100%

.map-data
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    border-bottom: 2px solid $greenish
    box-shadow: 0px 5px 5px -2px rgba(0,0,0,.5)
    position: relative
    z-index: 2
    &__select
        border: 2px solid $grey
        padding: 2px 3px
        margin: .5em 0
        width: 49%
        &:focus
            outline: none
            border: 2px solid $greenish


.map-list
    height: 75vh
    min-height: 75vh
    width: 100%
    overflow-y: scroll
    border-bottom: 2px solid $greenish

    &__image
        float: left
        margin-right: .5em
        border: 1px solid $light-grey

    &__item
        background-color: $very-light-grey
        border-bottom: 1px solid $light-grey
        border-top: 1px solid $light-grey
        margin-top: 1em
        padding: 1em 0.5em

    &__name
        margin: 0 0 .25em 0
        text-transform: capitalize
        font-size: 1.2em


    &__duration
        display: block
        margin: 0
        &::after
            display: block
            content: ''
            clear: both

    &__button
        border: 2px solid $grey
        background-color: $greenish
        color: #fff
        box-shadow: 0 10px 25px -10px rgba(0,0,0,.5)
        padding: 0.25em
        margin: .25em 0
        transition: all .3s linear
        &:focus,
        &:hover
            transform: scale(1.02) translateX(.25em)
            box-shadow: 0 17px 20px -12px rgba(0,0,0,.5)
            outline: none
    &__details-list
        display: flex
        color: $grey
        padding: 10px 0
        transition: height .3s linear, opacity .3s ease-in-out
        &--hidden
            height: 0
            opacity: 0
            visibility: hidden
        &--visible
            height: 62px
            opacity: 1
            visibility: visible


.details-list
    &__link
        color: $grey
        text-decoration: none
        display: block
        text-align: center
        margin-right: 1em
        &:visited
            color: $grey
        &:focus,
        &:hover
            color: black

    &__icon
        display: block
        font-size: 25px
    &__description
        font-size: 16px


// contact
.contact-header
    @extend .facilities-header
    text-align: left

.contact
    background-color: $light-grey
    text-align: center
    color: $grey

//

.info
    display: block
    padding: 1em 0

.form
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    > *
        width: 80%

    &__input
        border: 2px solid $grey
        background-color: $light-grey
        padding: .5em 1em
        color: $grey
        transition: all .3s linear
        display: block
        &:focus
            transform: scale(1.05)
            border: 2px solid $greenish
            outline: none
    .textarea
        height: 150px

    &__label
        padding: .5em 0 .25em 0

    &__submit
        border: 2px solid $grey
        margin-top: 1em
        padding: .5em 1em
        background-color: $greenish
        color: #fff
        text-transform: uppercase
        font-weight: 600
        font-size: 1.6em
        margin-bottom: 2em
        box-shadow: 0 20px 25px -10px rgba(0,0,0,.5)
        transition: all .3s linear
        &:focus,
        &:hover
            transform: scale(1.05)
            box-shadow: 0 40px 25px -20px rgba(0,0,0,.5)
            outline: none


@media screen and (min-width: 798px)
    .form > *
        width: 50%
